.button {

    background-color: blanchedalmond;
    font-size: 17px;
    padding: 4px 8px;
    display: inline;

    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-left: 15px;
    transition: background-color 0.3s;


}

.button:hover {

    background-color: aquamarine;

}

.button:disabled {
    color: gray;
}